---
import Layout from "../../../layouts/Layout.astro";
import { AdditionGame } from "../../../games/addition";
---

<Layout title="Addition Game - WeAreOur Games">
  <div class="game-page">
    <AdditionGame client:load />
  </div>
</Layout>

<style>
  .game-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
</style>
